body {
    margin: 0;
}
#loginForm {
    width: 200px;
    padding: 10px 10px 0;
    margin: auto 0;
    font: 14px/18px Arial, Tahoma, sans-serif;
    color: #444;
}
#loginForm .field {
    margin: 0 0 18px;
}
#loginForm .field label {
    display: block;
    margin: 0 0 11px;
}
#loginForm .field .input {
    border-radius: 4px;
}
#loginForm .field input {
    font: 12px Arial, Tahoma, sans-serif;
    color: #444;
    width: 172px;
    padding: 9px 13px;
    border: 1px solid #D2D9DC;
    border-radius: 3px;
    outline: none;
}
#loginForm .field input:focus {
    border-color: #B7D4EA;
    box-shadow: inset 2px 2px 6px #EBEBEB, 0 0 4px #D0E6F6, 0 0 0 5px #F2F8FC;
}
#forgot {
    font-size: 12px;
    color: #ababab;
    text-decoration: none;
    margin: 0;
    padding: 6px 10px;
    display: inline-block;
}
#forgot:hover {
    color: #444;
    text-decoration: underline;
}
#loginForm .submit {
    margin: 10px -10px 0;
}
#loginForm .submit button {
    float: right;
    padding: 6px 20px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background: #d24a43;
    background: linear-gradient(to bottom, #a14944 18%,#d24a43 49%) !important;
    color: white;
    cursor: pointer;
}
#loginForm .submit button::-moz-focus-inner {
    border:0
}
.error-summary ul {
    list-style: none;
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.subAction {
    font-size: 12px;
    color: #ababab;
    text-decoration: none;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid rgba(100, 100, 100, 0.3);
    margin-top: 15px;
}
.subAction a {
    color: #ababab;
    text-decoration: none;
}
.subAction a:hover {
    text-decoration: underline;
}